.heading {
    color: white;
    grid-column: span 2;
    font-size: large;
}

.main-container {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: #191919;
}

.mosaic-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.mosaic {
    display: grid;
    height: 100%;
    min-height: 900px;
    grid-template-rows: masonry;
    grid-template-columns:  repeat(6, 1fr);
    grid-gap: 20px;
}

  

  
  