$grey-color: #191919;
$white-color: #ffffff;

.heading {
  color: $white-color;
  grid-column: span 2;
  font-size: 20px;
}

.main-container {
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: $grey-color;
}

.mosaic-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
}

.mosaic {
  display: grid;
  grid-template-rows: masonry;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}

.loading {
  color: $white-color;
  font-size: 30px;
  text-align: center;
}
