.box {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transform-origin: center;
  cursor: pointer;

  &:hover {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .back {
    background-color: #4a52ff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
  }

  .overlay {
    text-align: flex-start;
    color: #fff;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    margin: 0;
    font-size: 20px;
  }

  p {
    margin: 8px 0 0;
    font-size: 14px;
  }

  .icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
