$primary-color: #4a52ff;
$white-color: #ffffff;

.rounded-button {
  background-color: $primary-color;
  color: $white-color;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $primary-color;
  }
}
